html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.toggle {
    display: none;
}

#header {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
    background-image: url(../images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: right bottom;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;

    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: transparent;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

nav a.logo img {
    width: 75px;
    height: 75px;
    margin-left: 100px;
}

.menu {
    display: flex;
}

.menu li a {
    color: #6c707c;
    padding: 10px 15px;
    font-size: 12px;
}

.lang {
    color: #292929;
    padding: 10px;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: #292929;
    font-family: Poppins;
}

.menu li a:hover,
.menu li a.active {
    background-color: #292929;
    color: #FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;
}

nav .lang:hover {
    background-color: #292929;
    color: #FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;
}

.name {
    font-family: calibri;
    width: 700px;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-20%, -50%);
    text-align: center;
}

.name p:nth-child(1),
.name .details {
    color: #FFFFFF;
    font-size: 16px;
}

.name h1 {
    font-family: Poppins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #FFFFFF;
    font-weight: 100;
}

.name h1 span {
    font-weight: bold;
}


.cv-btn {
    width: 200px;
    height: 45px;
    margin-left: 250px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
}

.cv-btn:hover {
    background-color: #131313;
    transition: all ease 0.5s;
}

.social {
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}

.social a {
    margin: 6px 12px;
}

.social i {
    color: rgba(18, 17, 17, 0.4);
    font-size: 14px;

}

.social a:hover i .fab {
    color: #17d1ac !important;
    transition: all ease 0.5s !important;
    cursor: pointer !important;
}

.arrow {
    align-items: end;
    width: 50%;
    height: 15%;
    margin-bottom: 0px;
    position: absolute;
    bottom: 5px;
    left: -3%;
    border-right: 1px solid rgba(41, 41, 41, 0.3);
}

.arrow::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #292929 transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}

#kotak-kecil {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}

#kotak-kecil .row {
    width: 80%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: -60px;
    background-color: #FFFFFF;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);

}

#kotak-kecil .row ul {
    display: flex;
    justify-content: space-between;

}

#kotak-kecil .row ul li {
    padding-left: 75px;

}

#kotak-kecil .row ul li div {
    color: #6c707c;
    line-height: 30px;
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: #f1ebeb;
    box-shadow: 1px 1px 1px rgb(153, 152, 152);
}


* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    font-family: "Helvetica"
}

.trip-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    /*background-color: aqua;*/
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    /*background-color: red;*/
}

.heading {
    padding-top: 20px;
    padding-bottom: 25px;
    /*background-color: blue;*/
}

.heading h1 {
    /*font-size: 30px;*/
    margin-bottom: 10px;
    font-family: "Helvetica";
}

.heading p1 {
    /*font-size: 15px;*/
    font-family: "Helvetica";
}

.trip {
    float: left;
    width: 20%;
    margin: 0 auto;
    padding-left: 15px;
}

.contents-trip {
    margin: 0 auto;
}

.trip-icon {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.trip-icon p {
    position: absolute;
    bottom: 5px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-family: "Helvetica";
}

img {
    border-radius: 5%;
    width: 200px;
    height: 250px;
}

.btn-wrapper {
    width: 100%;
    height: 50px;
    text-align: center;
}

.view {
    padding: 10px 25px;
    border-radius: 4px;
    background-color: #8fc1e3;
    font-family: "Helvetica";
    color: black;
    cursor: pointer;
    position: relative;
    top: 40px;
}

.view:hover {
    box-shadow: 1px 1px 1px 1px grey;
}

.trip-icon {
    width: 100%;
    max-width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 5%;
}

.trip-icon img {
    transition: transform .5s ease;
    object-fit: cover;
    width: 100%;
    max-width: 200px;
    height: 250px;
}

.trip-icon:hover img {
    transform: scale(1.5);
}


/* Layout untuk Tablet */
@media (max-width: 1000px) {

    .trip {
        width: 30%;
        margin-bottom: 25px;
        position: relative;
        padding-left: 75px;
    }

    .img {
        width: 150px;
        height: 200px;
    }

    .heading h1 {
        font-size: 28px;
    }

    .heading p1 {
        font-size: 13px;
    }

    .view {
        top: 10px;
    }
}

/* Layout untuk Smartphone */
@media (max-width: 670px) {
    .trip {
        width: 100%;
        margin-bottom: 25px;
        flex-direction: column;
        padding-left: 0px;
    }

    .img {
        width: 100px;
        height: 150px;
    }

    .heading h1 {
        font-size: 25px;
    }

    .heading p1 {
        font-size: 11px;
    }

    .trip-icon {
        margin: 0 auto;
    }

    .trip-icon p {
        font-size: 18px;
    }

    .view {
        top: 10px;
    }
}



body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #000000;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h5 {
    color: #ffffff;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}